<h2>Questions</h2>
<div id="questions">
  <%= link_to 'Ask Question', new_question_path, :class => 'ask'  %>
  <%= render :partial => 'shared/question_list', :local => {:questions => @questions} %>
</div>
